{% extends 'base.html' %}
<!-- extends must be mentioned on first line of the child template -->
{% load static %}

{% block 'main' %}
<main class="container mt-4">
    <h2>About Us</h2>
    <p>At Travel with Me, we aim to provide the best travel packages to our customers. With years of experience in the travel industry, we offer unique experiences and personalized services.</p>
    <p>Our team is passionate about travel and dedicated to making your journeys unforgettable.</p>
</main>
{% endblock 'main' %}